* {
	box-sizing:border-box;
		
	
}


.col1 {
	background-color: #5c84f2;
	width:33.33%;
	height:1024px;
	float:left;
	
}

.col2 {
	background-color: #43f2bd;
	width:33.33%;
	height:1024px;
	float:left;
}


.col3 {
	background-color: #cef776;
	width:33.33%;
	height:817px;
	float:right;
}


.placeholder {
	background-color: #ff0000;
	width:33.33%;
	height:207px;
	text-align: center;
	line-height: 207px;
	float:right;

}

div.placeholder p {
	color:#ffffff;
	font-family:"HelveticaNeue-Light";
	font-size:175%;
}

